body 
{
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.contenedor 
{
    width: 100%;
    height: 100vh; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:
        "menulateral menusuperior menusuperior menusuperior menusuperior menusuperior"
        
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido"
        "menulateral contenido contenido contenido contenido contenido";
}

.Logo
{
    margin-bottom: 10%;
    color: rgb(0, 140, 255);
}

.menusuperior 
{
    grid-area: menusuperior;
    margin: 10px;
    border-radius: 7px;
    align-items: center;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menulateral 
{
    padding: 30px;
    grid-area: menulateral;
    margin: 10px;
    text-decoration: none;
    border-radius: 7px;
    color: rgb(201, 199, 197)!important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icono-gris
{
    filter: grayscale(100%);
    opacity: 0.5;
}

.Abajo
{
<<<<<<< HEAD
    margin-top: 90%;
=======
    margin-top: 120%;
>>>>>>> aca2bd3 (Diseño)
}


.contenido 
{
    grid-area: contenido;
}


a
{
    text-decoration: none !important;
    color:  rgb(110, 109, 109) !important;
    font-weight: 500 !important;
}

a:hover
{
    text-decoration: none !important;
    color:  rgb(0, 140, 255) !important;
    font-weight: 500 !important;
}



/*-------------------------- Estilos para la barra de búsqueda con icono -------------------------------------*/

.search-container 
{
    position: relative;
    width: 400px;
}

.search-box 
{
    width: 100%;
    border: 1px solid #a19c9c;
    border-radius: 5px;
    text-align: left;
}

.search-icon 
{
    position: absolute;
    left: 12px; 
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.resumeninventario
{
<<<<<<< HEAD
    margin-top: 10px;
=======
    margin-top: 20px;
>>>>>>> aca2bd3 (Diseño)
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 10%;
    justify-content: space-between;
}

.secciones
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.productos
{
<<<<<<< HEAD
    margin-top: 15px;
=======
    margin-top: 20px;
>>>>>>> aca2bd3 (Diseño)
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 555px !important;
}

.categoria, .productostotales, .lowstock, .outstock
{
    font-size: 5px;
    height: 100px; /* Ajusta la altura del contenedor */
}

.categoria
{
    width: 20%;
    margin-left: 20px;
    border-right: 1px solid rgb(225, 225, 225); 
}

.categoria h5
{
    color:  rgb(0, 140, 255) !important;
}

.productostotales
{
    width: 20%;
    border-right: 1px solid rgb(225, 225, 225);
}

.productostotales h5
{
    color:  rgb(247, 154, 79) !important;
}

.lowstock
{
    font-weight: bold;
    border-right: 1px solid rgb(225, 225, 225); 
    width: 20%;
}

.lowstock h5
{
    color:  rgb(131, 59, 162) !important;
}

.outstock
{
    width: 20%;
}

.outstock h5
{
    color:  rgb(236, 73, 73) !important;
}

.encabezado
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.Agregar
{
    color: white !important;
    width: 15%;
    margin-right: 10px;
}

#filterButton, #download
{
    color: rgb(110, 110, 110) !important;
    background-color: rgb(255, 255, 255) !important;
    font-weight: bold;
    width: 15%;
    margin-right: 10px;
}

#product-detail-view
{
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 96.5%;
}
